.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15rem auto;
    width: 80%;
    background-color: #FFF;
    border-radius: 2rem;
    font-family: 'Space Mono', monospace;
}

.item {
    padding: 5rem;
    flex-basis: 50%;
}

.botao, .inputbotao {
    display: inline-block;
    height: 3rem;
    width: 20%;
    margin: 1rem;
    font-family: 'Space Mono', monospace;
    color: #FFF;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
}

.botao {
    background-color: hsl(183, 100%, 15%);
    cursor: pointer;
}

.botao:hover {
    background-color: hsl(172, 67%, 45%);
}

.inputbotao {
    background-color: hsl(189, 41%, 97%);
    border: solid hsl(172, 67%, 45%);
    text-align: right;
    color: hsl(183, 100%, 15%);
}

.titulo {
    display: block;
    text-align: left;
    margin: 0 3rem;
}

.valor {
    display: block;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    font-family: 'Space Mono', monospace;
    border-radius: 0.5rem;
    border: solid hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    text-align: right;
    font-size: 1.5rem;
}

.segundaParte {
    background-color: hsl(183, 100%, 15%);
    text-align: left;
    color: #FFF;
    padding: 5rem;
    border-radius: 2rem;
}

.texto {
    width: 100%;
}

.gorjetaValor {
    position: absolute;
    left: 75%;
    top: 40%;
    font-size: 2rem;
    color: #30bdad;
}

.reset {
    width: 100%;
    margin-top: 7rem;
    height: 4rem;
    border-radius: 0.75rem;
    background-color: #9fe8df;
    border: none;
    font-size: 2rem;
    color: #014946;
}

.reset:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 500ms;
}