.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    width: 60%;
    background-color: hsl(0, 0%, 100%);
}

.item {
    padding: 3rem;
    flex-basis: 50%;
}

.botao {
    display: inline-block;
    height: 3rem;
    width: 20%;
    margin: 1rem;
}

.titulo {
    display: block;
    text-align: left;
    margin: 0 3rem;
}

.valor {
    display: block;
    width: 80%;
    margin: 1rem auto;
}